<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupi.springbootinit.mapper.CommentsMapper">

    <resultMap id="BaseResultMap" type="com.yupi.springbootinit.model.entity.Comments">
            <id property="commentsId" column="commentsID" jdbcType="BIGINT"/>
            <result property="movieId" column="movieID" jdbcType="BIGINT"/>
            <result property="commentInfo" column="commentInfo" jdbcType="VARCHAR"/>
            <result property="commentAuthor" column="commentAuthor" jdbcType="VARCHAR"/>
            <result property="commentAuthorImgUrl" column="commentAuthorImgUrl" jdbcType="VARCHAR"/>
            <result property="commentVote" column="commentVote" jdbcType="VARCHAR"/>
            <result property="commentDate" column="commentDate" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        commentsID,movieID,commentInfo,
        commentAuthor,commentAuthorImgUrl,commentVote,
        commentDate,createTime,updateTime
    </sql>
</mapper>
