<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupi.springbootinit.mapper.MovieMapper">

    <resultMap id="BaseResultMap" type="com.yupi.springbootinit.model.entity.Movie">
            <id property="movieId" column="movieId" jdbcType="BIGINT"/>
            <result property="userId" column="userID" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="director" column="director" jdbcType="VARCHAR"/>
            <result property="actors" column="actors" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="country" column="country" jdbcType="VARCHAR"/>
            <result property="releaseDate" column="releaseDate" jdbcType="VARCHAR"/>
            <result property="runtime" column="runtime" jdbcType="VARCHAR"/>
            <result property="ratingNum" column="ratingNum" jdbcType="VARCHAR"/>
            <result property="thumbNum" column="thumbNum" jdbcType="INTEGER"/>
            <result property="favourNum" column="favourNum" jdbcType="INTEGER"/>
            <result property="tags" column="tags" jdbcType="VARCHAR"/>
            <result property="movieUrl" column="movieUrl" jdbcType="VARCHAR"/>
            <result property="local" column="local" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        movieId,userID,name,
        director,actors,type,
        country,releaseDate,runtime,
        ratingNum,thumbNum,favourNum,
        tags,movieUrl,local,
        createTime,updateTime
    </sql>
    <select id="listMovieWithDelete" resultType="com.yupi.springbootinit.model.entity.Movie">
        select *
        from movie
        where updateTime >= #{minUpdateTime}
    </select>
</mapper>
