<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movie_recommend.mapper.MovieFavourMapper">

    <resultMap id="MovieFavourResultMap" type="com.movie_recommend.model.entity.MovieFavour">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="movieId" column="movieId" jdbcType="BIGINT"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, movieId, userId, createTime, updateTime
    </sql>

    <select id="listFavourMovieByPage" resultType="com.movie_recommend.model.entity.Movie">
        select p.*
        from movie p
        join (select movieId from post_favour where userId = #{favourUserId}) pf
        on p.movieId = pf.movieId
        <where>
            <if test="ew != null and ew.sqlSegment != null">
                ${ew.sqlSegment}
            </if>
        </where>
    </select>

</mapper>
